{% extends 'base.html' %}

{% block title %}Password reset{% endblock %}

{% block content %}
<div class="parchment-scroll shadow-lg">
  <h1>Set New Password</h1>
  {% if validlink %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn-medieval" type="submit">Change Password</button>
  </form>
  {% else %}
  <p class="text-danger">This reset link is invalid or has expired please try again.</p>
  <a href="{% url 'accounts:password_reset' %}" class="btn-medieval">Request New Link</a>
  {% endif %}
</div>
{% endblock %}
